@import "tailwindcss";

@config "../../tailwind.config.js";



body {
  scrollbar-gutter: stable;
}

[role="dialog"] {
  scrollbar-gutter: stable;
}

/* Smooth scrolling with offset for anchor links */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  /* Offset for navbar height */
}

a,
button {
  &:not([disabled]) {
    cursor: pointer;
  }
}
button{
  font-weight: 600;
}